.main{
  background-image:url('../public/indonesiaBackground.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.infoMain {
  display:flex;
  justify-content: center;
  background-color:#DAD7CD;
  flex-wrap: wrap;
}

.h1Home{
  display:'flex';
  justify-content: center;
  font-size: 90px;
  color: #a3b18a;
  font-family: 'Montserrat';
}

.buttonCont{
  display:flex;
  justify-content: center;
}

.button {
  display:flex;
  height: 50px;
  width: 200px;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  margin: 10px;
  border: 4px #DAD7CD solid;
  border-radius: 15px;
  background-color: transparent;
  color: #DAD7CD;
  font-family: 'Montserrat', sans-serif;
}

.button:hover{
  background-color:#DAD7CD;
  color: #3A5A40;
}

.homeP{
  text-align:center;
  font-family:'Montserrat'; 
  font-size: 20px
}

.infoCard{
  display:flex;
  flex-direction: column;
  align-items: center;
  background-color: #3A5A40;
  height: 300px;
  width: 250px;
  margin: 10px;
  border-radius:20px;
}

.cityP{
  font-weight: 600;
  font-family: 'Montserrat';
  font-size: 35px;
  color: #DAD7CD;
}

.infoP{
  font-family: 'Montserrat';
  font-size: 20px;
  color:#a3b18a;
  text-align: center;
}

@media (max-width: 600px) {
  .homeP{
    font-size:14px;
  }
  .h1Home{
    font-size:50px;
    margin-left: 100px;
  }
  .buttonCont{
    display:flex;
    flex-direction: column;
    align-items: center;
  }

}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}

.artist{
  height: 100px;
  width: 150px;
  padding: 10px;
  background-color: red;
  margin: 10px;
  border-radius: 10px;

}